[package]
name = "contour"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[features]
long-persist = []
region_prof = []
bench_regions = []
